@model Employee

<div class="container">

    <div class="card">
        <div class="card-header">
            @Model.Name
        </div>
        <div class="card-body">
            @Model.Role.Name
        </div>
    </div>

    <a asp-action="Index" class="btn btn-primary">
        Back
    </a>

</div>  