@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="btn btn-secondary" asp-controller="department" asp-action="index">
        Departments
    </a>
    <a class="btn btn-secondary" asp-controller="division" asp-action="index">
        Divisions
    </a>
    <a class="btn btn-secondary" asp-controller="employee" asp-action="index">
        Employee
    </a>
    <a class="btn btn-secondary" asp-controller="role" asp-action="index">
        Roles
    </a>
</div>
