@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="btn btn-secondary" asp-controller="department" asp-action="index">
        Department
    </a>
    <a class="btn btn-secondary" asp-controller="division" asp-action="index">
        Division
    </a>
</div>
