@model EmployeeViewModel

<div class="container">

    <div class="card">
        <div class="card-header">
            @Model.Division.Name / @if(Model.Division.Department.Name != null) { <h5>@Model.Division.Department.Name</h5> }
        </div>
        <div class="card-body">
            @foreach(var emp in Model.DivisionEmployeeList)
            {
                <p>
                    <span class="badge badge-warning">
                        @emp.Employee.Name
                    </span>
                </p>
            }
        </div>
    </div>

    <a asp-action="Index" class="btn btn-primary">
        Back
    </a>

</div>  